.book{
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.lpage, .rpage{
    width: 100vw;
    height:100vh;
    display:inline-block;
}

.canon{
    width:  66.66666666%;
    margin-top: 11.111111111%;
    margin-left: 11.111111111%;
}
@media only screen and (min-width : 900px){
    .book{
        height:100vh;
    }

    .lpage{
        width: 50%;
        display: inline-block;
        left:0;
        bottom: 0;
        float: left;
    }

    .rpage{
        width: 50%;
        display: inline-block;
        right:0;
        bottom: 0;
        float: right;
    }

    .rpage .canon{
        margin-top:  11.111111111vh;
        margin-left: 11.111111111%;
    }

    .lpage .canon{
        margin-top:  11.111111111vh;
        margin-left: 22.222222222%;
    }
}

<!-- Styling -->
*{
    font-family: monospace;
}

.book{
    background-color: #f1c40f;
}

.canon{
    color: #2c3e50;
    font-family: monospace;
    font-size: .9em;
}


