.book{
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.lpage, .rpage{
    width: 100vw;
    height:100vh;
    display:inline-block;
}

.canon{
    width:  66.66666666%;
    height: 66.66666666%;
    margin-top: 11.111111111%;
    margin-left: 11.111111111%;
}
<!-- Styling -->
*{
    font-family: monospace;
}

.book{
    background-color: #f1c40f;
}

.canon{
    color: #2c3e50;
    font-family: monospace;
    font-size: 1em;
}


